.filter-button-group a {
  cursor: pointer;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.8rem;

  &:active,
  &:focus,
  &:hover,
  &:focus-within {
    box-shadow: none;
    outline: none;
  }

  &::before {
    content: "○";
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }
}

.filter-button-group a.active {
  &::before {
    content: "●";
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }
}

button {
  &:active,
  &:focus,
  &:hover,
  &:focus-within {
    box-shadow: none;
    outline: 0;
  }
}

button.active,
.btn-outline-dark.active:focus {
  outline: 0;
  box-shadow: none !important;
}
