/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.form-control::placeholder,
.comment-form input[type="text"]::placeholder,
.comment-form input[type="email"]::placeholder,
.comment-form input[type="url"]::placeholder,
.comment-form textarea::placeholder,
.search-form .search-field::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 5vw;
  text-align: right;
}

.search-menu {
  .search-form .search-submit {
    display: none;
  }

  .search-form .search-field {
    color: black;
    background-color: $blue;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid black;

      &::placeholder {
        opacity: 0;
      }
    }

    @include media-breakpoint-up(md) {
      font-size: 2.4vw;
      line-height: 1.1;
      padding: 0;
    }
  }
}
