/** Search form */
.search-form {
  @extend .form-inline;

  max-width: 100%;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
  max-width: 100%;
}

.search-form .search-field {
  @extend .form-control;
}

input.search-form {
  @include media-breakpoint-up(md) {
    font-size: 5vw;
  }
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.search-form .search-field:placeholder-shown {
  font-size: 6vw;
  max-width: 100%;
  color: black;

  @include media-breakpoint-up(md) {
    font-size: 5vw;
  }
}

.form-control::placeholder,
.comment-form input[type="text"]::placeholder,
.comment-form input[type="email"]::placeholder,
.comment-form input[type="url"]::placeholder,
.comment-form textarea::placeholder,
.search-form .search-field::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: right;
}

.search-menu {
  width: 90%;

  .search-form .search-submit {
    display: none;
  }

  .search-form .search-field {
    color: black;
    background-color: $blue;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
      box-shadow: none;
      border-bottom: 2px solid black;

      &::placeholder {
        opacity: 0;
      }
    }

    @include media-breakpoint-up(md) {
      display: block;
      font-size: 5vw;
      line-height: 1.2;
      padding: 0;
      width: 90%;
      height: auto;
    }
  }
}
