.footer {
  @include media-breakpoint-up(lg) {
    height: 250px;
    border-top: 1px solid black;
    left: 1px;
    width: 100%;
  }

  @include media-breakpoint-up(xl) {
    height: 300px;
  }

  @media (min-width: 1500px) {
    height: 400px;
  }
}

body.single {
  .footer {
    border-top: none;
  }
}

.row.pa {
  position: relative;

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
}
