.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $blue;
  font-size: 12vw;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 6vw;
    line-height: 1.1;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4rem; //70px
    line-height: 1;
    letter-spacing: 3px;
  }

  @media (min-width: 1500px) {
    font-size: 5rem;
  }

  a {
    @extend .nav-link;

    padding: 0;
    border-bottom: 3px solid transparent;
    display: inline-block;
    line-height: 0.9em;
    transition: border-bottom 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      text-decoration: none !important;
      border-bottom: 3px solid black;
    }
  }
}

.left,
.right {
  width: 100%;
  height: 50vh;
  float: left;
  position: relative;

  @include media-breakpoint-up(lg) {
    width: 50%;
    height: 100%;
  }
}

.left {
  border-bottom: 1px solid black;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid black;
    border-bottom: none;
  }
}

.right {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 30px;

  @include media-breakpoint-up(lg) {
    padding-top: 30px;
    padding-left: 30px;
  }
}

.search-menu {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.languages {
  @include media-breakpoint-up(lg) {
    padding-top: 50vh;
  }
}

.overlay .nav-primary {
  text-align: left;
  position: relative;
  height: auto;
  margin-top: 15px;
  padding-left: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-left: 30px;
    padding-top: 30px;
  }
}

/* Overlay closing cross */
.overlay .overlay-close {
  display: block;
  text-align: right;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 1032;
  position: absolute;
  float: right;
  width: 100%;
  padding: 0;
  bottom: 75px;
  right: 15px;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 30px;
    bottom: auto;
  }
}

/* Menu style */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: auto;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    height: 100%;
  }
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0s 0.2s;
  transition: transform 0.2s ease-in-out, visibility 0s 0.2s;
  z-index: 1035;
}

.overlay-slidedown.open {
  visibility: visible;
  z-index: 1035;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}

#menu {
  cursor: pointer;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

body:not(.home) {
  header.banner {
    border-bottom: 1px solid black;
    font-size: 1.375rem; //22px
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;

    @extend .fixed-top;
  }
}

body.home {
  header.banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid black;
    font-size: 1.375rem; //22px

    @include media-breakpoint-up(lg) {
      position: absolute;
      max-width: 75%;
      height: 100%;
      border-bottom: none;
    }
  }

  h2 {
    width: 100%;
    display: block;
  }

  h1 {
    @include media-breakpoint-up(lg) {
      width: calc(100% - 30px);
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }

  .nav {
    flex-direction: column;
    line-height: 1.3;
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      font-size: 1.375rem; //22px
    }

    @include media-breakpoint-up(xl) {
      margin-top: 15px;
    }

    @media (min-width: 1500px) {
      margin-top: 23px;
    }
  }

  .nav a {
    padding: 0;
    display: inline-block;
    margin-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      text-decoration: none !important;
      border-bottom: 2px solid black;
    }

    @include media-breakpoint-up(lg) {
      color: #212529;

      &:hover,
      &:focus,
      &:active,
      &:focus-within {
        text-decoration: none !important;
        border-bottom: 2px solid #212529;
      }
    }
  }

  .header-right {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid black;
      height: 100vh;
    }
  }

  .header-left {
    @include media-breakpoint-up(lg) {
      height: 100vh;
    }
  }
}

.page-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
