//home
.wrap {
  height: 100%;
}

.galeria {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;

  @include media-breakpoint-up(lg) {
    position: relative;
    display: block;
  }
}

.foto-home {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter, opacity 0.6s ease-in-out;
}

.quote {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 50%;

  p {
    font-size: 0.75rem;
  }

  blockquote p {
    font-size: 1.1rem;
  }
}

.agenda {
  position: relative;
  margin-top: 100vh;

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 2;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid black;
    overflow: scroll;
    height: 100%;
    position: fixed;
    margin-top: 0;
  }
}

.item-agenda {
  font-size: 1rem;
  padding-bottom: 50px;

  @include media-breakpoint-up(lg) {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  @media (min-width: 1500px) {
    line-height: 1.4;
  }

  .fecha {
    // font-size: 1.3rem;
    margin-bottom: 20px;

    &::before {
      content: "⚫";
      font-size: 0.5rem;
      display: inline;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .tipo-evento {
    padding-left: 22px;
    margin-top: -5px;
    position: relative;
    display: block;

    @include media-breakpoint-up(lg) {
      padding-left: 17px;
    }

    @media (min-width: 1500px) {
      padding-left: 22px;
    }
  }

  a {
    border-bottom: 2px solid black;
    transition: border-bottom 0.3s ease-in-out;

    &:focus,
    &:hover,
    &:focus-within {
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }
  }
}

//bio
.contenido {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 300px;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid black;
    padding-bottom: 500px;
  }

  .enlaces-bio {
    font-size: 1.85rem;
    line-height: 1.3;
    margin-bottom: 50px;
    padding-top: 65px;

    @include media-breakpoint-up(lg) {
      line-height: 1.2;
    }

    a {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease-in-out;

      &:focus-within,
      &:focus,
      &:hover,
      &:active {
        border-bottom: 2px solid black;
      }
    }
  }

  .social {
    @include media-breakpoint-up(lg) {
      margin-top: 300px;
    }
  }

  .video {
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  section {
    margin-top: 150px;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
      line-height: 1.6;
    }

    @media (min-width: 1500px) {
      line-height: 1.5;
      line-height: 1.4;
    }

    a {//stylelint-disable
      border-bottom: 2px solid black;
      transition: border-bottom 0.3s ease-in-out;
      text-decoration: none;
      position: relative;

      &:focus,
      &:hover,
      &:active,
      &:focus-within {
        border-bottom: 2px solid transparent;
      }
    }

    .info.txt-col-2 {
      columns: 1;

      @include media-breakpoint-up(lg) {
        columns: 2;
      }
    }

    .info.txt-col-1 {
      columns: 1;

      @include media-breakpoint-up(lg) {
        padding-left: 10% ;
        padding-right:  10%;
      }
    }

    .links-destacados {
      margin-top: 4rem;
      font-size: 1.5rem;

      p {
        margin-bottom: 0;
      }
    }
  }
}

#index {
  padding-top: 65px;

  @include media-breakpoint-up(lg) {
    padding-top: 65px;
    overflow: scroll;
    height: 100%;
    position: fixed;
    padding-right: 10px;
    line-height: 1.2  ;
  }
}

.list-group-item {
  border: none;
  border-radius: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1px;
  transition: color 0.4s ease-in-out;

  @include media-breakpoint-up(lg) {
    font-size: 0.8rem;
  }

  &::before {
    content: "○";
    margin-right: 5px;
    padding-top: 3px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }

  &:focus,
  &:hover,
  &:active,
  &:focus-within {
    outline: 0;
    background-color: transparent;
    color: black;
  }
}

.list-group-item.active {
  background-color: transparent;
  color: black;

  &::before {
    content: "●";
    margin-right: 5px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }
}

.sub-ti {
  font-size: 1.3rem;
  margin-top: 1.3rem;

  @include media-breakpoint-up(lg) {
    padding-left: 10% ;
    padding-right:  10%;
  }
}
