//home
.wrap {
  height: 100%;
}

.galeria {
  width: 100%;
  height: 100vh;
}

.foto-home {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter 0.3s ease-in-out;
}

.quote {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 50%;

  p {
    font-size: 0.75rem;
  }

  blockquote p {
    font-size: 1.1rem;
  }
}

.agenda {
  font-family: Arial, Helvetica, sans-serif;

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 2;
    padding-left: 15px;
    padding-right: 50px;
    border-left: 1px solid black;
    overflow: scroll;
    height: 100%;
    position: fixed;
  }
}

.item-agenda {
  font-size: 1.125rem;
  padding-bottom: 50px;

  .fecha {
    font-size: 1.375rem;

    &::before {
      content: "⚫";
      font-size: 0.6rem;
      display: inline;
      vertical-align: middle;
      margin-right: 15px;
    }
  }

  .arrow::before {
    content: "⇲";
    margin-right: 15px;
  }
}

//bio
.contenido {
  position: relative;
  height: 100%;
  overflow-y: scroll;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid black;
  }

  .enlaces-bio {
    font-size: 1.75rem;
    line-height: 1.1;
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .social {
    @include media-breakpoint-up(lg) {
      margin-top: 300px;
    }
  }

  .video {
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  section {
    margin-top: 150px;

    .info {
      columns: 2;
    }
  }
}

#index {
  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    overflow: scroll;
    height: 100%;
    position: fixed;
  }
}

.list-group-item {
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  &:focus,
  &:hover,
  &:active,
  &:focus-within {
    outline: 0;
  }
}
