//home
.wrap {
  height: 100%;
}

//bio
.contenido {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 300px;

  @include media-breakpoint-up(lg) {
    border-right: 1px solid black;
    padding-bottom: 500px;
  }

  .enlaces-bio {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 50px;
    padding-top: 65px;

    @include media-breakpoint-up(lg) {
      line-height: 1.2;
      font-size: 1.85rem;
    }

    a {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease-in-out;

      &:focus-within,
      &:focus,
      &:hover,
      &:active {
        border-bottom: 2px solid black;

        @include media-breakpoint-up(lg) {
          border-bottom: 4px solid black;
        }
      }

      @include media-breakpoint-up(lg) {
        border-bottom: 4px solid transparent;
      }
    }
  }

  .social {
    @include media-breakpoint-up(lg) {
      margin-top: 300px;
    }
  }

  .video {
    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  section {
    margin-top: 150px;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
      line-height: 1.6;
      margin-top: 15rem;
    }

    @media (min-width: 1500px) {
      line-height: 1.5;
      line-height: 1.4;
    }

    a {//stylelint-disable
      border-bottom: 2px solid black;
      transition: border-bottom 0.3s ease-in-out;
      text-decoration: none;
      position: relative;

      &:focus,
      &:hover,
      &:active,
      &:focus-within {
        border-bottom: 2px solid transparent;
      }
    }

    .info.txt-col-2 {
      columns: 1;

      @include media-breakpoint-up(lg) {
        columns: 2;
      }
    }

    .info.txt-col-1 {
      columns: 1;

      @include media-breakpoint-up(lg) {
        padding-left: 0;
        padding-right: 20%;
      }
    }

    .links-destacados {
      margin-top: 4rem;
      font-size: 1.5rem;

      p {
        margin-bottom: 0;
      }

      a {
        border-bottom: 3px solid black;
        transition: border-bottom 0.3s ease-in-out;
        text-decoration: none;
        position: relative;

        &:focus,
        &:hover,
        &:active,
        &:focus-within {
          border-bottom: 3px solid transparent;
        }
      }
    }
  }
}

#index {
  padding-top: 65px;

  @include media-breakpoint-up(lg) {
    padding-top: 65px;
    overflow: scroll;
    height: 100%;
    position: fixed;
    padding-right: 10px;
    line-height: 1.2;
  }
}

.list-group-item {
  border: none;
  border-radius: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1px;
  font-size: 0.8rem;
  line-height: 1.5;
  transition: color 0.4s ease-in-out;

  @include media-breakpoint-up(lg) {
    font-size: 0.8rem;
  }

  &::before {
    content: "○";
    margin-right: 5px;
    padding-top: 3px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }

  &:focus,
  &:hover,
  &:active,
  &:focus-within {
    outline: 0;
    background-color: transparent;
    color: black;
  }
}

.list-group-item.active {
  background-color: transparent;
  color: black;

  &::before {
    content: "●";
    margin-right: 5px;
    font-size: 0.7rem;
    vertical-align: middle;
    display: inline-block;
  }
}

.sub-ti {
  margin-top: 3rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(lg) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body.home {
  .galeria {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid black;

    @include media-breakpoint-up(lg) {
      position: relative;
      display: block;
      height: 100vh;
      border-bottom: none;
    }
  }

  .foto-home {
    width: 100%;
    height: calc(60vh - 1px);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0);
    transition: filter 0.8s ease-in-out, opacity 0.8s ease-in-out;

    @include media-breakpoint-up(lg) {
      height: 100vh;
    }
  }

  .quote {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 48%;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    p {
      font-size: 0.75rem;
    }

    blockquote p {
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }

  .agenda {
    position: relative;
    margin-top: 60vh;
    padding-top: 0px;

    @include media-breakpoint-up(lg) {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      border-left: 1px solid black;
      overflow: scroll;
      height: 100%;
      position: fixed;
      margin-top: 0;
    }

    @media (min-width: 1500px) {
      padding-top: 30px;
    }
  }

  .item-agenda {
    font-size: 1rem;
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      font-size: 0.8rem;
      line-height: 1.5;
    }

    @media (min-width: 1500px) {
      line-height: 1.4;
    }

    .fecha {
      // font-size: 1.3rem;
      margin-bottom: 20px;

      &::before {
        content: "⚫";
        font-size: 0.5rem;
        display: inline;
        vertical-align: middle;
        margin-right: 5px;
      }
    }

    .tipo-evento {
      padding-left: 22px;
      margin-top: -5px;
      position: relative;
      display: block;

      @include media-breakpoint-up(lg) {
        padding-left: 17px;
      }

      @media (min-width: 1500px) {
        padding-left: 22px;
      }
    }

    a {
      border-bottom: 2px solid black;
      transition: border-bottom 0.3s ease-in-out;

      &:focus,
      &:hover,
      &:focus-within {
        text-decoration: none;
        border-bottom: 2px solid transparent;
      }
    }
  }
}

//ligthbox
.lg-backdrop {
  background-color: $blue;
}

.lg-img-wrap {
  height: 80% !important;
  margin-top: auto;
  margin-bottom: auto;
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: transparent;
}

.lg-actions .lg-next::before {
  content: url("./svg/close-left.svg");
  width: 30px;
  height: 30px;
  display: block;
}

.lg-actions .lg-prev::after {
  content: url("./svg/close-left.svg");
  width: 30px;
  height: 30px;
  display: block;
  transform: rotate(-180deg);
}

.lg-toolbar {
  background-color: transparent !important;
}

.lg-toolbar .lg-icon {
  color: white;
}

.lg-toolbar .lg-close,
.lg-toolbar .lg-download {
  padding-top: 30px;
}

html[lang="es"] {
  .lg-toolbar .lg-close {
    float: right;
    width: 150px;
  }

  .lg-toolbar .lg-close::after {
    content: "CERRAR";
    font-family: Helvetica, Arial, sans-serif;
  }

  .lg-toolbar .lg-download {
    float: left;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .lg-toolbar .lg-download::before {
    content: "DESCARGAR";
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 25px;
  }

  .lg-toolbar .lg-download::after {
    content: url("./svg/download.svg");
    transform: rotate(90deg);
    width: 45px;
    height: 25px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 25px;
  }
}

html[lang="en"] {
  .lg-toolbar .lg-close {
    float: right;
    width: 150px;
  }

  .lg-toolbar .lg-close::after {
    content: "CLOSE";
    font-family: Helvetica, Arial, sans-serif;
  }

  .lg-toolbar .lg-download::before {
    content: "DOWNLOAD";
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 25px;
  }
}

.lg-sub-html {
  background-color: transparent;
  color: white;
  padding: 10px 40px 50px 40px;
}
