body.blog {
  .content {
    @extend .row;

    background-color: #c9baba;
  }

  .main {
    @extend .col-12;
    @extend .col-lg-10;

    @include media-breakpoint-up(lg) {
      border-right: 1px solid black;
      padding-left: 0;
      padding-right: 0;
    }
  }

  aside.sidebar {
    @extend .col-12;
    @extend .col-lg-2;

    @include media-breakpoint-up(lg) {
      position: sticky;
      top: 4rem;
      height: calc(100vh - 4rem);
      overflow-y: auto;
    }
  }

  .grid-sizer,
  article {
    @extend .col-12;
    @extend .col-lg-4;

    position: relative;

    @include media-breakpoint-up(lg) {
      padding-top: 15px;
      height: 450px;
      overflow: hidden;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      &:nth-child(3n + 1) {
        border-right: none;
      }
    }
  }

  h2 {
    font-size: 1.1rem;
  }

  .foto {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }

  .date {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    rotate: 90deg;
  }
}

.intro {
  padding-top: 2rem;
  padding-bottom: 100px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 400px;
    border-bottom: 1px solid black;
  }
}

.brd {
  padding: 15px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.padding {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.active {
  background-color: white;
}
