html {
  height: 100%;
}

body {
  position: relative;
}

body.home {
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 1.375rem; // temporal
  margin-bottom: 0;
}

img {
  @extend .img-fluid;
}
