html {
  height: 100%;
}

body {
  position: relative;
}

body.home {
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 1.375rem; // temporal
  margin-bottom: 0;
}

img {
  @extend .img-fluid;
}

.arrow {
  line-height: 1.3;
}

.arrow::before {
  content: "⇲";
  margin-right: 15px;
  border-bottom: none;
}

a {
  &:focus-within,
  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
